.ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  background-color: #1e415d !important;
}

.benchmark{
  .live-test{
    width: 100%;
  }

  ul.list-group.mylist {
    max-height: 400px;
    overflow-y: scroll;
  }

  .flip-container {
    transform-style: preserve-3d;
    transition: transform 1s;
  }

  .flip-side {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    user-select: none;
  }

  .back-face {
    transform: rotateY(179.9deg);
  }

  .color-white {
    color: white !important;
  }

  .samplesDataRow {
    padding: 10px;
    margin-top: -36px;
    background: #1e415d;
    margin-bottom: 25px;
    border-radius: 0px 0px 10px 10px;
    color: white;
    text-align: center;
  }

  .subIMSI {
    font-size: 14px;
    font-weight: 600;
  }

  .myPdfFooter {
    padding: 10px;
    background: #1e415d;
    border-radius: 5px;
    color: white;
  }

  .ranking {
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: solid 8px #1e415d;
  }

  .header {
    background: #1e415d;
  }

  .template-input {
    height: 38px;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    width: 220px;
  }

  .dropdown-toggle {
    display: block;
    font-size:14px;
    color: #1e415d;
    text-decoration: none;
    padding: 10px 0px;
  }
    
  .dropdown-toggle:focus {
    outline: 0;
  }


  ::ng-deep label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
  }
  td,
  th {
    padding: 0;
  }

  .noPadding{padding:0 !important;}
  .noPaddingLeft{padding-left:0 !important;}
  .noPaddingRight{padding-right:0 !important;}
  .margin-0{margin: 0 !important;}

  .header{
    color: #FFF;
    text-align: center;
    background-color: #1e415d;
    padding: 10px 0px;
    margin: 0px;
  }

  .header h2{
    font-weight: 500;
  }

  .input-field .customLable{
    float:left;
    width: 240px;
  }

  .input-field .customInput{
    float:left;
    width: calc(100% - 240px);
  }

  .input-field .uploadLable {
    float: left;
    width: 100px;
  }

  .input-field .uploadInput{
    float:left;
    width: calc(100% - 100px);
  }

  .input-field label{
    width: 100%;
    color: #FFF;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    background-color: #1e415d;
    border: 2px solid #1e415d;
    height: 40px;
    padding: 9px;
    margin: 10px 0px;
  }

  .input-field .customInput label, .input-field .uploadInput label{
    width: 100%;
    color: #555;
    font-weight: 700;
    text-align: center;
    background: #FFF;
    border: 2px solid #1e415d;
    min-width: 225px;
    height: 40px;
    padding: 10px 15px;
    margin: 10px 0px;
    cursor: pointer !important;
  }

  .input-field input{
    width: 100%;
    font-weight: 500;
    text-align: left;
    background-color: #FFF;
    border: 2px solid #1e415d;
    border-radius: 0;
    outline: none !important;
    min-width: 225px;
    height: 40px;
    padding: 10px;
    margin: 10px 0px;
  }

  .input-field input:focus{
    border: 2px solid #1e415d;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
  }

  .actions {
    margin:20px 0px;
  }

  .fileContainer {
    overflow: hidden;
    position: relative;
  }

  .fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: -2px;
    left: 0px;
    padding: 0;
    margin: 0;
  }

  table {
    background: #FFF;
    border-collapse: collapse;
    width: 100%;
    min-width: 960px;
  }

  th, td {
    font-weight:600;
    text-align: center !important;
    vertical-align: middle !important;
  }

  th {
  font-size:16px;
    color: #FFF;
    background-color: #1e415d;
    padding: 10px 0px;
  }

  td {
    font-size:13px;
    border: 1px solid #c9c5c9;
    padding: 10px;
  }

  tr:nth-child(even) {
    background-color: #dfdfdf;
  }

  table input{
    height: 40px !important;
    text-align: center;
    padding: 0px 10px !important;
    margin: 0;
  }

  table input[type=number]::-webkit-outer-spin-button,
  table input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  table input[type=number] {
    -moz-appearance:textfield;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 69px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    background-clip: padding-box;
  }
  .dropdown-menu li{
    list-style:none;
  }
  .dropdown-menu li > a {
    display: block;
    padding: 12px 0px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
  }
  .dropdown-menu li > a:hover, .dropdown-menu li > a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #1e415d;
  }
  .dropdown-menu > .active > a,
  .dropdown-menu > .active > a:hover,
  .dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #1e415d;
  }
  .dropdown-menu > .disabled > a,
  .dropdown-menu > .disabled > a:hover,
  .dropdown-menu > .disabled > a:focus {
    color: #999999;
  }
  .dropdown-menu > .disabled > a:hover,
  .dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
  }
  .open .dropdown-menu {
    display: block;
  }

  .open > a {
    outline: 0;
  }

  .btn-group {
    display: table;
    margin: 10px auto;
    margin-bottom: 0px;
  }

  .btn-group > .dropdown {
    display: inline-block;
    height: 42px !important;
  }

  .btn-group > .form-control {
    display: table-cell;
    border-radius: 0;
    height: 42px !important;
    width: 90px;
  }

  .btn-group > .dropdown {
    border-right: 0;
  }

  .caret {
    display: inline-block !important;
    width: 0 !important;
    height: 0 !important;
    vertical-align: middle !important;
    border-top: 4px solid #919191 !important;
    border-right: 4px solid transparent !important;
    border-left: 4px solid transparent !important;
    border-bottom: 0 dotted !important;
    content: "" !important;
    margin-top:0 !important;
    margin-right: 12px !important;
  }

  .border-left{border-left: none !important;}

  .wizard>.content{overflow: auto !important;}

  .magic-radio:checked+label:before {border: 1px solid #1e415d;}


  .magic-radio+label:after {background: #1e415d;}

  .magic-checkbox+label, .magic-radio+label{font-weight: 600;}

  .finish-button{
    float:right;
    background: #1e415d;
    color: #fff !important;
    display: block;
    width:70px;
    padding: .5em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 0px;
    margin: 0px 15px 10px;
    cursor: pointer;
  }

  .drag-drop td{
    width: 88px;
    height:88px;
  }

  .drag-drop-m td {
    width: 88px;
    height: 148px;
  }

  .fixed-td{
    width: 280px !important;
  }

  .logsContainer {
    height: 395px;
    overflow-y: scroll;
  }

  .logsContainerM{
    height: 265px;
    overflow-y: scroll;
  }

  .cellContainer{
    padding:0px 10px;
    height: 120px;
    overflow-y: scroll;
  }

  .input-field .uploadLable label {
    position: relative;
    cursor: pointer;
    z-index: 1;
  }

  .logs .input-field .uploadLable {
    width: 100%;
    padding: 0px 10px !important
  }

  .logs .input-field .uploadLable label {
    margin: 2px 0px;
    cursor: grab;
  }

  .logs .input-field .uploadLable label:hover {
    color: #1e415d;
    background-color: #FFF;
    border: 2px solid #1e415d;
  }

  .drag-drop td, .drag-drop-m td{
    position: relative;
  }

  .drop-div{
    position: absolute;
    top:0;
    left: 0;
    width: 365px;
    height: 100%;
  }

  .text-center{
    text-align: center !important;
  }

  .div-content {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    min-height: auto;
    border-radius: 5px;
    padding: 15px 0px 0px;
    margin: 15px 0px;
  }

  .div-content.no-top-padding{
    padding: 0px 0px 15px;
  }

  .basic .input-field .uploadLable {
    float: left;
    width: 240px;
  }

  .basic .ui-radiobutton-label {
    font-weight: 600;
    cursor: pointer;
  }

  .basic .carrier {
    width: 270px;
    height: 40px;
    padding: 0px 15px;
    margin: 10px 0px;
    color: #1e415d;
    background-color: #FFF;
    border: 2px solid #1e415d;
  }

  .basic .margin-10-0 {
    margin: 10px 0px !important;
  }

  .basic .ui-dropdown .ui-dropdown-label {
    padding: 0px 30px;
    margin: 8px 0px;
    background: transparent;
  }

  .basic .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #1e415d !important;
    background-color: #1e415d !important;
  }

  .basic .basic-label{
    float:right;
    font-size:14px;
    font-weight: 600;
    margin-top:4px
  }

  .basic .ui-dropdown{
    border: 2px solid #1e415d !important;
    border-radius: 0;
    width:270px !important;
    height: 40px;
  }

  .basic .long .ui-dropdown {
    width: 340px!important;
  }

  .basic .ui-dropdown .ui-dropdown-trigger {
    color: #1e415d;
  }

  .basic .ui-inputtext {
    color: #1e415d;
    font-weight: 600 !important;
  }

  .basic .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight, .basic .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
    background-color: #1e415d ;
    color: #FFF;
  }

  .basic .ui-dropdown .ui-dropdown-trigger {
    width: 3em;
  }

  .input-field.upload-field .uploadLable label{
    height: 67px;
    padding: 22px 15px;
    margin: 0px;
  }

  .basic .ui-fileupload .ui-fileupload-buttonbar {
    display: flex;
    background-color: #ffffff;
    padding: 15px 0px 15px 238px;
    border-bottom: 0 none;
    border: 2px solid #1e415d;
    border-radius: 0;
    color: #1e415d;
  }

  .basic .ui-fileupload .ui-fileupload-content {
    background-color: #ffffff;
    padding: 0px;
    color: #1e415d;
    border: 0px;
    border-top: 0;
    margin: 10px 2px;
  }

  .basic .uploadFile{
    display: inline;
  }

  .ui-fileupload-content .ui-progressbar {
    height: 0px;
    border: none;
    border-radius: 0;
  }

  .ui-button:enabled:focus {
    background-color: #1e415d !important;
  }

  .ui-button {
    background-color: #1e415d !important;
    border: 1px solid #1e415d !important;
  }

  .ui-button:enabled:hover {
    background-color: #1e415d !important;
    border-color: #1e415d !important;
  }

  .ui-fileupload-choose:not(.ui-state-disabled):hover {
    background-color: #1e415d !important;
    border-color: #1e415d !important;
  }

  .ui-tabview .ui-tabview-panels{
    border: 2px solid #1e415d !important;
    padding: 8px;
  }

  .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active, .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
    background-color: #1e415d !important;
    border: 1px solid #1e415d !important;
  }

  .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active:hover, .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active:hover, .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active:hover, .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active:hover {
    border: 1px solid #1e415d !important;
    background-color: #1e415d !important;
  }

  .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active:hover, .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active:hover, .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active:hover, .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active:hover{
    outline: none;
  }

  .ui-tabview.ui-tabview-top .ui-tabview-nav{
    padding: 0 15px;
  }

  .ui-tabview.ui-tabview-top .ui-tabview-nav li {
    width: 25%;
    border-radius: 0;
    margin-right: 0;
    font-size: 15px;
    text-align: center;
  }

  .ui-tabview.ui-tabview-top .ui-tabview-nav li span {
    font-weight: bold;
  }

  .rf-ssv .ui-tabview.ui-tabview-top .ui-tabview-nav li{
    width: 20%;
  }

  .section-bg{
    background: #fff;
    overflow: hidden;
  }

  .header-nmb{
    margin: 30px 0 0 ;
  }

  .div-content section{
    padding: 0px 0px;
    margin: 0 15px 0 15px;
  }

  .inline-block{
    display: inline-block;
  }

  .configurations-dropdown .ui-dropdown {
    width: 100px !important;
    height: 42px;
    border: 1px solid #ccc !important;
  }

  .configurations-dropdown .ui-dropdown .ui-dropdown-label {
    padding: 0px 15px 0 0;
    margin: 10px 0px;
  }

  .live-monitoring .ui-tabview.ui-tabview-top .ui-tabview-nav li {
    width: 33.3333%;
    border-radius: 0;
    margin-right: 0;
    font-size: 15px;
    text-align: center;
    height: 45px;
  }

  .live-monitoring table {
    min-width: auto;
  }

  .live-monitoring .section-bg{
    overflow: visible;
  }

  .live-monitoring .ui-datepicker-title{
    margin-top: -3px;
    font-size: 16px;
    font-weight: 600;
  }

  .live-monitoring .ui-calendar {
    width: 100%;
  }

  .live-monitoring  .roaming{
    width: 400px;
    height: 40px;
    padding: 0px 15px;
    margin: 10px 0px;
    color: #1e415d;
    background-color: #FFF;
    border: 2px solid #1e415d;
  }

  .live-monitoring  .timing{
    height: 40px;
    padding: 0px 15px;
    margin: 10px 0px;
    color: #1e415d;
    background-color: #FFF;
    border: 2px solid #1e415d;
  }

  .live-monitoring .ui-slider .ui-slider-range {
    background-color: #1e415d;
  }

  .live-monitoring .customLable p-slider{
    display: block;
    padding: 5px;
  }

  .live-monitoring .ui-multiselect{
    border: 2px solid #1e415d !important;
    border-radius: 0;
    width: 270px !important;
    height: 40px;
  }

  .live-monitoring  .ui-multiselect-label {
    font-weight: 600 !important;
    color: #1e415d !important;
    padding: 0px 30px !important;
    margin: 8px 0px !important;
  }

  .live-monitoring .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item.ui-state-highlight {
    background-color: #1e415d !important;
  }

  .live-monitoring .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #122e44 !important;
    background-color: #122e44 !important;
  }

  .live-monitoring .ui-multiselect-panel .ui-multiselect-items  .ui-multiselect-item label{
    margin: 0 !important;
  }

  .submit-button{
    overflow: hidden;
    background: #1e415d;
    color: #fff !important;
    display: block;
    width: 33.3333%;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    height: 40px;
    border-radius: 0px;
    padding: 10px;
    margin: 10px auto;
    cursor: pointer;
  }

  .live-monitoring .live-test .ui-tabview.ui-tabview-top .ui-tabview-nav li{
    width: 50%;
    border: 2px solid #1e415d;
    border-bottom: 1px solid #1e415d;
  }

  .ui-tabview.ui-tabview-top .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover, .ui-tabview.ui-tabview-bottom .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover, .ui-tabview.ui-tabview-left .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover, .ui-tabview.ui-tabview-right .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover {
    border: 2px solid #1e415d !important;
    border-bottom: 1px solid #1e415d !important;
  }

  .noPaddingTopBottom{
    padding-top:0;
    padding-bottom:0;
  }

  .imsi-center{
    float: none !important;
    width: 530px !important;
    margin: 0 auto !important;
  }

  .long.imsi-center{
    width: 600px !important;
  }

  .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    background-color: #1e415d;
    border: 1px solid #1e415d;
  }

  .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a {
    border: 1px solid #1e415d;
    background-color: #1e415d;
  }

  .events-list-wrapper .ui-accordion .ui-accordion-content {
    padding: 0.32em 1em;
  }

  .ui-accordion .ui-accordion-header{
    padding: .5rem 0rem 1rem;
  }

  .ui-accordion .ui-accordion-header span{
    font-size: 13px;
    font-weight: 600;
  }

  .list-group{
    padding: 0rem !important;
  }

  .list-group .header{
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
    font-weight: 600;
    height: 45px;
    padding: 0.8em 1em;
    margin: 1px 0;
  }

  .list-group .list-group-ul{
    float: left;
    width: 100%;
    height: 452px;
    overflow-y: scroll;
    list-style: none;
    background: #FFF;
    border: 2px solid #1e415d;
    padding: 15px 10px;
    margin: -1px 0;
  }

  .list-group .list-group-ul li {
    position: relative;
    display: block;
    padding: 0.75rem 2.25rem 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-top-color: rgba(0, 0, 0, 0.125);
    border-top-style: solid;
    border-top-width: 1px;
    word-wrap: break-word;
  }

  .list-group .list-group-ul li a.btn-delete {
    position: absolute;
    top: 1rem;
    right: .5rem;
    cursor: pointer;
  }

  .base-btn{
    padding: 3px 6px;
    margin: -2px 0px;
    cursor: pointer;
  }

  .select-kpi .base-btn{
    margin: 5px 0px;
  }

  .base-btn i{
    vertical-align: text-top;
  }

  .events-list .list-group-ul{
    height: 428px;
    padding: 0;
    margin: 0;
    margin-top: 6px;
  }

  .orange .input-field label {
    background-color: rgb(241, 110, 0);
    border: 2px solid rgb(241, 110, 0);
  }

  .live-monitoring .orange .ui-multiselect {
    border: 2px solid rgb(241, 110, 0) !important;
  }

  .live-monitoring .orange .ui-multiselect-label {
    color: rgb(241, 110, 0) !important;
  }

  .vodafone .input-field label {
    background-color: rgb(248, 0, 0);
    border: 2px solid rgb(248, 0, 0);
  }

  .live-monitoring .vodafone .ui-multiselect {
    border: 2px solid rgb(248, 0, 0) !important;
  }

  .live-monitoring .vodafone .ui-multiselect-label {
    color: rgb(248, 0, 0) !important;
  }

  .etisalat .input-field label {
    background-color: rgb(129, 166, 50);
    border: 2px solid rgb(129, 166, 50);
  }

  .live-monitoring .etisalat .ui-multiselect {
    border: 2px solid rgb(129, 166, 50) !important;
  }

  .live-monitoring .etisalat .ui-multiselect-label {
    color: rgb(129, 166, 50) !important;
  }

  .we .input-field label {
    background-color: rgb(112, 34, 131);
    border: 2px solid rgb(112, 34, 131);
  }

  .live-monitoring .we .ui-multiselect {
    border: 2px solid rgb(112, 34, 131) !important;
  }

  .live-monitoring .we .ui-multiselect-label {
    color: rgb(112, 34, 131) !important;
  }

  .select-kpi{
    position: absolute;
    top: 3px;
    width: 300px;
    padding: 0px 5px;
    z-index: 2;
  }

  div.jsoneditor-menu {
    height: 45px;
  }

  table.jsoneditor-search{
    margin: 5px 3px;
  }

  .basic .select-kpi .ui-dropdown {
    width: 240px !important;
  }

  json-editor td {
    border: none !important;
  }

  json-editor table input {
    height: 20px !important;
    border: none !important;

  }

  json-editor table button {
    outline: none !important;
  }

  div.jsoneditor {
    height: 424px !important;
    border: 2px solid #1e415d !important;
    margin: 5px 0px !important;
  }

  div.jsoneditor-menu {
    background-color: #1e415d !important;
    border-bottom: 1px solid #1e415d !important;
  }

  div.jsoneditor-tree div.jsoneditor-tree-inner {
    padding-bottom: 15px !important;
  }

  .ui-accordion .ui-accordion-header {
    margin-bottom: -7px;
  }

  .ui-inputtext {
    font-size: 13px;
  }

  .ui-tabview.ui-tabview-top .ui-tabview-nav {
    padding: 0;
  }

  .ui-tabview .ui-tabview-panels .ui-tabview-panel {
    position: relative;
  }

  .ui-tabview {
    padding: .5em;
  }

  .jsoneditor-schema-error, div.jsoneditor td, div.jsoneditor textarea, div.jsoneditor th, div.jsoneditor-field{
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
  }

  .btn-delete a, .btn-add a{
    margin: 4px 8px;
  }

  .btn-delete i{
    color: #c1c1c1;
    transition: 1000ms;
    -webkit-transition: 1000ms;
    -o-transition: 1000ms;
    -moz-transition: 1000ms;
  }

  .btn-delete:hover i{
    color: #bd362f;
  }

  .btn-add i{
    color: #c1c1c1;
    transition: 1000ms;
    -webkit-transition: 1000ms;
    -o-transition: 1000ms;
    -moz-transition: 1000ms;
  }

  .btn-add:hover i{
    color: #28a745;
  }

  div.jsoneditor-contextmenu ul li button.jsoneditor-selected, div.jsoneditor-contextmenu ul li button.jsoneditor-selected:focus, div.jsoneditor-contextmenu ul li button.jsoneditor-selected:hover {
    background-color: #1e415d;
  }

  div.jsoneditor-tree {
    height: 340px;
  }

  .jsoneditor-values, .jsoneditor-values tr td{
    background: transparent !important;
  }

  .input-save{
    font-weight: 500;
    text-align: left;
    background-color: #FFF !important;
    border: 2px solid #1e415d !important;
    border-radius: 0;
    outline: none !important;
    width: 100%;
    height: 35px;
    padding: 10px;
    margin: 0;
  }

  .save-btn{
    color: #fff !important;
    height: 35px;
    padding: 10px 6px;
    margin: -2px 0px;
    cursor: pointer;
  }

  .save-cell{
    float: left;
    padding: .75em 1em !important;
  }

  .ui-tabview {
    padding: .5em !important;
  }

  .live-monitoring .noBorder .ui-multiselect{
    border: none !important;
  }

  .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #122e44 !important;
    background-color: #122e44 !important;
  }

  p-checkbox label{
    margin-bottom: 0 !important;
  }

  .white_border .ui-dropdown{
    border: 2px solid #ffffff !important;
  }

  .margin-left-4{
    margin-left: 4px;
  }
  /*********************************************
  -	RESPONSIVE CSS	-
  **********************************************/
  @media (max-width:1199px){
    h2 {
      font-size: 25px;
      padding: 0px 15px;
    }
    .div-content section{
      overflow-x: scroll;
    }
    p-tabView table {
      min-width: auto;
    }
    #upload-sheets table{
      min-width: 960px;
    }
    p-tabView .input-field .customLable, .input-field .customInput {
      width: 100%;
    }   
    p-tabView .input-field{
      float: left;
      width: 100%;
      margin: 15px 0px;
    }
    .rf-ssv .ui-tabview.ui-tabview-top .ui-tabview-nav li{
      width: 100%;
    }

    .ui-tabview.ui-tabview-top .ui-tabview-nav li,
    .live-monitoring .ui-tabview.ui-tabview-top .ui-tabview-nav li,
    .basic .input-field .uploadLable,
    .basic .input-field .uploadLable label,
    .input-field .customLable,
    .input-field .customLable label,
    .basic .carrier,
    .basic .ui-dropdown,
    .live-monitoring .ui-multiselect,
    .imsi-center,
    .width_responsive,
    .live-test,
    .save-cell,
    .basic .long .ui-dropdown,
    .long.imsi-center{
        width: 100% !important;
    }
    .live-monitoring .roaming {
        width: 100%;
        height: 100%;
    }
    .basic .ui-fileupload .ui-fileupload-buttonbar{
        padding: 0.571em;  
    }
    .margin-left-4{
      margin-left: 0px;
    }
  }
}