<div class="benchmark-summary">
	<div style="
			background: white;
			border: 8px solid #1e415d;
			padding: 10px;
			border-radius: 13px;" class="col-md-12 ranking mt-3 mb-3" *ngIf="globalSummary">
		<h2 class="text-center mb-3" style="font-weight:600; color:#1e415d;">SUMMARY <small
				style="font-weight:600;">(AVERAGE/<span style="color:rgb(255, 154, 0);">RANK</span>)</small></h2>
		<div class="row mb-2">
			<div class="col-4">
				<div
					style="background:#1e415d;padding:10px;color:white;text-align:center;font-weight:600; border-radius:5px;">
					KPI/OPERATOR</div>
			</div>
			<div class="col-8">
				<div class="p-grid">
					<div class="p-col" *ngFor="let opreator of operators">
						<div [ngStyle]="{'background': opreator.color}"
							style="padding:10px;color:white;text-align:center;font-weight:600; border-radius:5px;">
							{{opreator.operator}}</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row mt-3 mb-3" *ngFor="let rank of getArray();">
			<div class="col-4">
				<div
					style="background:#1e415d;padding:10px;color:white;text-align:center;font-weight:600; border-radius:5px;">
					<span>{{rank | uppercase | reduceText:'summary'}}</span>
				</div>
			</div>
			<div class="col-8">
				<div class="p-grid">
					<div class="p-col" *ngFor="let operatorValue of globalSummary[rank]; let i = index;">
						<div style="background:#1e415d;padding:10px;color:white;text-align:center;
								border-radius:5px;">
							{{operatorValue}} / (<span
								style="color:gold; font-weight:900;">{{(getSortedRanks(globalSummary[rank])[i])}}</span>)
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>