<div class="benchmark-event" style="page-break-before:always;">
  <div class="col-md-12 card inos-card mt-3 mb-3">
    <div class="row">
      <div class="col-4 text-left">
        <img
          src="../../assets/images/logo.png"
          alt="insoTool"
          class="waterMark"
        />
      </div>
      <div class="col-4">
        <div class="text-center mt-2 mb-2">
          <h4 class="mb-3 inos-color">
            {{ eventName }}
          </h4>
        </div>
      </div>
      <div class="col-4 text-right">
        <img
          src="../../assets/images/event.png"
          alt="insoTool"
          class="card-type"
        />
      </div>
    </div>
    <div class="inner-card-inos mb-3 mr-2 ml-2">
      <div class="row text-center">
        <div class="col-md-2">
          <p class="summaryData" style="background: #1e415d;;font-weight:1000;">
            OPERATOR
          </p>
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-md-4">
              <p class="summaryData" style="background: #1e415d;;">LTE</p>
            </div>
            <div class="col-md-4">
              <p class="summaryData" style="background: #1e415d;;">GSM</p>
            </div>
            <div class="col-md-4">
              <p class="summaryData" style="background: #1e415d;;">WCDMA</p>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngFor="let count of event.summary; let i = index">
        <div class="row text-center">
          <div class="col-md-2">
            <p
              class="summaryData"
              [ngStyle]="{ background: operators[i].color }"
              style="font-weight:1000;"
            >
              {{ operators[i].operator }}:
            </p>
          </div>
          <div class="col-10">
            <div class="row">
              <div class="col-md-4">
                <p class="summaryData">{{ count[0] }}</p>
              </div>
              <div class="col-md-4">
                <p class="summaryData">{{ count[1] }}</p>
              </div>
              <div class="col-md-4">
                <p class="summaryData">{{ count[2] }}</p>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="graph">
      <p-chart
        type="bar"
        [data]="event.graph"
        [plugins]="chartPlugins"
        [options]="chartOptions"
      ></p-chart>
    </div>

    <div class="maps">
      <app-here-map
        style="text-align: center;"
        *ngFor="let map of event['maps']; let i = index"
        [operator]="operators[i]"
        [mapData]="map"
      ></app-here-map>
    </div>
  </div>
</div>
