.inos-color {
  color: white;
  font-weight: 700;
}

.color-white {
  color: white;
}

.inos-card {
  background: #1e415d;
  border-radius: 10px;
  padding: 10px;
}

.inner-card-inos {
  padding: 10px;
  background: white;
  border-radius: 5px;
}

p.summaryData {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 5px;
  background: #1e415d;
  text-align: center;
  color: white;
  border-radius: 5px;
}

.waterMark {
  width: 65px;
}

.bg-grey {
  background: grey;
}

.card-type {
  width: 90px;
  margin-top: 9px;
}
.graph{
  background: white;
  margin-bottom: 15px;
  border-radius: 5px;
}