<div *ngIf="kpis">
  <p-paginator *ngIf="kpiSettings.showPages && !kpiSettings.isExporting" #paginator id="paginator"
    (onPageChange)="paginatorChange($event)" [rows]="1" [totalRecords]="kpiSettings.kpiNamesArray.length">
  </p-paginator>

  <div *ngIf="kpiSettings.showPages && !kpiSettings.isExporting" class="benchmark">
    <div class="basic">
      <div class="ui-g-12 imsi-center long width_100">
        <div class="input-field">
          <div class="uploadLable noPadding">
            <label class="text-center">Select a KPI:</label>
          </div>
        </div>
        <div class="margin-10-0">
          <p-dropdown [style]="{ width: '100%' }" (onChange)="dropDownChange($event)"
            [options]="kpiSettings.kpiNamesDropDown" [(ngModel)]="kpiSettings.selectedKPI"></p-dropdown>
        </div>
      </div>
    </div>
  </div>
  <div class="benchmark text-center">
    <p-checkbox #showSitesCheckBox [hidden]="true" *ngIf="!kpiSettings.isExporting" class="display-sites"
      id="display-sites" label="Display Sites" [ngModel]="kpiSettings.showSites" (onChange)="toggleShowSites()"
      binary="true"></p-checkbox>
  </div>
  <div id="page-break" class="benchmark-kpi" style="page-break-before:always;" *ngFor="let kpi of returnKPI_Iterator()">
    <div class="col-md-12 p-0">
      <div class="page-break kpi-container mt-3 mb-3">
        <div class="row">
          <div class="col-4 text-left">
            <img src="../../assets/images/logo.png" alt="insoTool" class="waterMark" />
          </div>
          <div class="col-4">
            <div class="text-center">
             <h4 class="mb-3  inos-color">
           {{kpis[kpi].metaData.guiName}} 
             {{(kpis[kpi].metaData.unit) ? '(' + kpis[kpi].metaData.unit + ')' : ''}}
          </h4>
            </div>
          </div>
          <div class="col-4 text-right">
            <img src="../../assets/images/kpi.png" alt="insoTool" class="card-type" />
          </div>
        </div>
        <div class="summary mt-3 mb-3">
          <ng-container *ngFor="let summary of kpis[kpi].summary; let i = index">
            <div class="row text-center">
              <div class="col-md-2">
                <p class="summaryData" [ngStyle]="{ background: operators[i].color }" style="font-weight:1000;">
                  {{ operators[i].operator }}:
                </p>
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-md-4">
                    <p class="summaryData">Count: {{ summary[0] }}</p>
                  </div>
                  <div *ngIf="summary[1] !== null" class="col-md-2">
                    <p class="summaryData">
                      Min: {{ summary[1] | number: '1.2-2' }}
                    </p>
                  </div>
                  <div *ngIf="summary[1] !== null" class="col-md-2">
                    <p class="summaryData">
                      Max: {{ summary[2] | number: '1.2-2' }}
                    </p>
                  </div>
                  <div *ngIf="summary[1] !== null" class="col-md-2">
                    <p class="summaryData">
                      Avg: {{ summary[3] | number: '1.2-2' }}
                    </p>
                  </div>
                  <div *ngIf="summary[1] !== null" class="col-md-2">
                    <p class="summaryData">
                      STD: {{ summary[4] | number: '1.2-2' }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="page-break"></div>
            </div>
            <hr />
          </ng-container>
        </div>
        <div *ngIf="kpiSettings.showPages && !kpiSettings.isExporting" class="benchmark chart-types">
          <div class="basic">
            <div class="ui-g-12 imsi-center width_100">
              <div class="input-field">
                <div class="uploadLable margin-left-4 noPadding">
                  <label class="text-center">Select Chart Type:</label>
                </div>
              </div>
              <div class="margin-10-0">
                <p-dropdown [style]="{ width: '100%' }" (onChange)="refreshChart()" [options]="kpiSettings.chartOptions"
                  [(ngModel)]="kpiSettings.chartsTypes[getIndexByKPI(kpi)]"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
        <div class="graph">
          <p-chart #chart [type]="kpiSettings.chartsTypes[getIndexByKPI(kpi)]" [data]="kpis[kpi].graph"
            [plugins]="chartPlugins" [options]='chartOptions'></p-chart>
        </div>
        <div class="maps">
          <app-here-map *ngFor="let map of kpis[kpi].maps; let i = index" [operator]="operators[i]" [mapData]="map">
          </app-here-map>
        </div>
      </div>
    </div>
  </div>
</div>