.kpi-container {
    text-align: center;
    /* background: white none repeat scroll 0% 0%; */
    background: #1e415d;
    border: 8px solid rgb(30, 65, 93);
    padding: 15px;
    padding-top: 20px;
    border-radius: 13px;
}

.graph{
    background: white;
    margin-bottom: 15px;
    border-radius: 5px;
}
.summary{
    margin-top: 15px;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

.chart-types{
    position: relative;
    top: 4px;
    background: #FFF;
    border-radius: 0;
    margin-top: 20px !important;
}