<div class="map-container" style="background:white;">
  <span style="font-weight: 600;" [style.color]="operator.color" class="operator-name">{{
    operator.operator
  }}</span>
  <span style="display:block">
    <span
      style="
        width: 50%;
        text-align: center;
        display: inline-block;
        padding-bottom: 13px;
        font-weight: 600;
    "
      >Pre</span
    >
    <span
      style="
        width: 50%;
        text-align: center;
        display: inline-block;
        padding-bottom: 13px;
        font-weight: 600;
    "
      >Post</span
    >
  </span>
  <div class="map" #map style="width:50%; height: 500px;"></div>
</div>
