::ng-deep.map-legend , #map-legend {
    background: rgba(31, 38, 42, 0.8) !important;
    margin: 12px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    max-height: 220px; 
    text-align: left;
    color: #FFF;
    font-family: Roboto, Arial, sans-serif;
    -moz-user-select: none;
    font-size: 11px;
    background-color: rgba(31, 38, 42, 0.8);
    border-radius: 2px;
    background-clip: padding-box;
    box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3);
    border-left: 0px none;
    position: absolute !important;
    top: 0;
    left: 0;
    padding: 10px;
    overflow: auto;
  }
  
  ::ng-deep.map-legend p {
    margin: 0 0 0 0 !important;
  }
  
  ::ng-deep h6.map-legend-headline {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    margin-bottom: 5px !important;
  }
  
  ::ng-deep.map-legend-color {
    height: 12px;
    width: 12px;
    margin-right: 3px;
    float: left;
    border-radius: 12px;
  }
  ::ng-deep.map{
    background: white none repeat scroll 0% 0%;

    border: 8px solid rgb(30, 65, 93);
    
    padding: 10px;
    
    border-radius: 13px;
  }

.operator-name{
  font-weight: bold;
}
::ng-deep.map-container{
  padding: 10px;
  background: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 20px;
}
::ng-deep.display-sites{
  font-weight: 400 !important;
  font-size: 14px !important;
}