.footer {
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: .6rem;
    background-color: #1e415d ;
    text-align: center;

    color: white;
    text-shadow: 0px 0px 30px rgba(186, 186, 186, 0.85);
    height: 40px;
  }
  a{
      color:rgb(69, 163, 214);
  }
