<div class="benchmark">
<footer #footer class="footer" style="font-size: 14px">
  All Rights Reserved <a target="_blank" href="http://www.lyticshub.com/">LyticsHub</a> &
  <a target="_blank" href="http://www.digis2.com/"> DIGIS <sup>2</sup></a>
</footer>
</div>