<button id="calculateReport" hidden="true" (click)="calculateReport()"></button>
<div *ngIf="reportResult" class="container">

  <div class="inos-head nokia-head" style="position: relative;">
    <div
      class="ui-g-12"
      style="width: 880px; margin: 0 auto; position: relative;"
    >
      <h2 class="text-center mb-3 mt-3">DT Cluster Acceptance Report</h2>
      <h3 class="text-center mb-3 mt-3">DT Cluster Name</h3>
      <h3 class="text-center mb-3 mt-3" id="report-name" contenteditable="true">
        "XX"
      </h3>
      <h3 class="text-center mb-3 mt-3">
        City:
        <span
          id="reportCity"
          class="text-center mb-3 mt-3 nokia-span"
          contenteditable="true"
          >"XX"</span
        >
      </h3>
      <h3 class="text-center mb-3 mt-3">
        Nokia BSC, RNC:
        <span
          id="reportNokiaBsc"
          class="text-center mb-3 mt-3 nokia-span"
          contenteditable="true"
          >"XX, XX"</span
        >
      </h3>
      <h3 class="text-center mb-3 mt-3">
        Huwaei BSC, RNC:
        <span
          id="reportHuwaeiBsc"
          class="text-center mb-3 mt-3 nokia-span"
          contenteditable="true"
          >"XX"</span
        >
      </h3>
      <h3 class="text-center mb-3 mt-3">
        Date:
        <span contenteditable="true" id="report-date" class="nokia-span"
          >XX/XX/XX
        </span>
      </h3>
      <img
        src="../../../../assets/images/nokia-logo.png"
        class="nokia-logo"
        alt="Nokia Logo"
      />
    </div>
  </div>

  <div class="inos-head white-bg">
    <div class="ui-g-12 text-center">
      <img
        src="../../../../assets/images/P2.png"
        alt="02"
        style="width:880px; margin: 0 auto;"
      />
    </div>
  </div>

  <div class="inos-head white-bg">
    <div class="ui-g-12 text-center">
      <img
        src="../../../../assets/images/P3.1.png"
        alt="03"
        style="width:880px; margin: 0 auto;"
      />
      <p class="mb-3 mt-3 nokia-line">
        This document describes the performance status of Cluster
        <span
          id="reportTitle"
          class="text-center mb-3 mt-3"
          contenteditable="true"
          >"XXXX"</span
        >
        that is included in BSC, RNC:
        <span
          id="reportNokiaBsc2"
          class="text-center mb-3 mt-3"
          contenteditable="true"
          >(XX, XX)</span
        >
      </p>
      <img
        src="../../../../assets/images/P3.2.png"
        alt="03"
        style="width:880px; margin: 0 auto;"
      />
    </div>
  </div>

  <div class="inos-head white-bg">
    <div class="ui-g-12 text-center">
      <img
        src="../../../../assets/images/P4.jpg"
        alt="04"
        style="width:880px; margin: 0 auto;"
      />
    </div>
  </div>

  <div class="inos-head white-bg">
    <div class="ui-g-12 text-center">
      <img
        src="../../../../assets/images/P5.jpg"
        alt="05"
        style="width:880px; margin: 0 auto;"
      />
    </div>
  </div>

  <app-summary
    [operators]="reportResult.operators"
    [globalSummary]="reportResult.globalSummary"
  >
  </app-summary>

  <app-kpis
    [pdfExportRequest]="pdfExportRequest"
    [operators]="reportResult.operators"
    [kpis]="reportResult.kpis"
  >
  </app-kpis>

  <app-events
    id="page-break"
    style="margin-top:15px;"
    class="page-break"
    *ngFor="let event of getEventsAsArray()"
    [operators]="reportResult.operators"
    [event]="reportResult.events[event]"
    [eventName]="event"
  ></app-events>

  <app-events
    id="page-break"
    style="margin-top:15px;"
    class="page-break mt-3 mb-3"
    *ngFor="let event of getEventsAsArray()"
    [operators]="reportResult.operators"
    [event]="reportResult.events[event]"
    [eventName]="event"
  ></app-events>

  <!-- <app-footer></app-footer> -->
</div>

<div *ngIf="!reportResult">
  still no input
</div>
