.inos-color {
  color: white;
  font-weight: 700;
}

.color-white {
  color: white;
}

.inos-card {
  background: #1e415d;
  border-radius: 10px;
  padding: 10px;
}

.inner-card-inos {
  padding: 10px;
  background: white;
  border-radius: 5px;
}

p.summaryData {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 5px;
  background: #1e415d;
  text-align: center;
  color: white;
  border-radius: 5px;
}

.waterMark {
  width: 65px;
}

.card-type {
  width: 90px;
  margin-top: 9px;
}

.app-kpis{
  margin: 10px;
}
.report-control{
  color: white !important;
}
.inos-head {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: #1e415d;
  width: 100%;
  height:499px;
  text-align: center;
  color: white;
  font-weight: bold;
}
.inos-head img {
  margin: auto;
  width: 240px;
  display: block;
}
.inos-head h4 {
  font-size: 19px;
  margin-top: 30px;
}
.inos-head h2 span {
  font-size: 14px;
}
.nokia-head{
  background: #1b3c92;
  height: 800px;
}
.nokia-head h2{
  font-weight: bold;
}
.nokia-logo{
  position: absolute;
  bottom: -15px;
  right: 0px;
  width: 75px !important;
  padding: 0px;
}
.white-bg{
  background-color: #ffffff !important;
  padding-bottom: .5rem; 
  margin: 1rem 0;
  height: 800px;
}
.nokia-line{
  font-family: sans-serif;
  font-weight: 500;
  color: #1b3c92;
  text-align: left;
  width: 808px;
  margin: 0 auto;
}
.nokia-span{
  font-size: 1.75rem;
}